.input {
  width: 260px;
  border: none;
  background: #333333;
  outline: none;
  font-size: 16px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-family: 'Exo', exo;
  border: #555555 2px solid;
  transition: border 0.2s ease-in-out;
  cursor: text;
}
.input:focus {
  border: #3f48cc 2px solid;
  transition: border 0.2s ease-in-out;
  font-family: 'Exo', exo;
}
