.promotion-selection-container {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(2, 70px);
}
.piece-selection {
  width: 60px;
  height: 60px;
  background: #333333;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}
.piece-selection:hover {
  background: #aaaaaa;
  cursor: pointer;
}
