@import 'src/styles/_components.scss';

.tactorius-board .panels-board {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34);
  .opponent-dialogue-arcana {
    display: flex;
    flex: 80px 1 1;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background: #222222;
    padding: 10px;
    .info-avatar {
      display: flex;
      flex-direction: row-reverse;
      .avatar {
        min-width: 80px;
        height: 80px;
        background: #aaaaaa;
      }
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .name {
          text-align: right;
        }
        .thinking {
        }
      }
    }
    .dialogue {
      height: 100%;
      width: 100%;
      background: #333333;
      overflow-y: scroll;
    }
    .arcana {
      height: 100%;
      width: 100%;
      background: #333333;
      .arcana-side-buttons {
        width: 100%;
        height: 40px;
        display: flex;
      }
      .arcana-select {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        // grid-template-rows: 60px 60px 60px 60px 60px;
        grid-gap: 11px;
        height: calc(100% - 40px);
        max-height: 200px;
        width: 100%;
        overflow-y: scroll;
        padding: 13px;
        .arcane {
          height: 60px;
          width: 60px;
        }
        .arcane:hover {
          cursor: pointer;
        }
      }
    }
  }
  .time-board-time {
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .opponent-time {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #222222;
    }
    .player-time {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      background: #333333;
      text-align: right;
    }
  }
  .history-buttons-player {
    width: 400px;
    height: 100%;
    background: #333333;
  }
}

// .tactorius-board .board-view {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
