@import 'src/styles/_components.scss';

.tactorius-board .panels-board {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34);
  .opponent-dialogue-arcana {
    width: 400px;
    height: 100%;
    background: #222222;
    padding: 10px;
    .info-avatar {
      display: flex;
      flex-direction: row-reverse;
      .avatar {
        width: 80px;
        height: 80px;
        margin-left: 20px;
        background: #aaaaaa;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .name {
          text-align: right;
        }
        .thinking {
        }
      }
    }
  }
  .time-board-time {
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .opponent-time {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #222222;
    }
    .player-time {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      background: #333333;
      text-align: right;
    }
  }
  .history-buttons-player {
    width: 400px;
    height: 100%;
    background: #333333;
  }
}

// .tactorius-board .board-view {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
