@import 'src/styles/_components.scss';

.tactorius-board .mission-view {
  width: 100%;
  height: 100vh;
  max-height: 574px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34);
  // radial gradient
  background: radial-gradient(circle, rgb(212, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  .opponent-dialogue-arcana {
    display: flex;
    // flex: 80px 1 1;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    height: 100%;
    // background: #222222;
    padding: 10px;
    .info-avatar {
      display: flex;
      flex-direction: row-reverse;
      .avatar {
        min-width: 80px;
        height: 80px;
        background: #333333;
      }
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .name {
          text-align: right;
        }
        .thinking {
        }
      }
    }
    .dialogue {
      height: 100%;
      max-height: 200px;
      width: 100%;
      background: #333333;
      overflow-y: scroll;
    }
    .arcana {
      display: flex;
      flex-direction: column;
      height: 100%;
      // max-height: 400px;
      width: 100%;
      background: #333333;
      .arcana-side-buttons {
        width: 100%;
        height: 40px;
        display: flex;
      }
      .arcana-select {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        // grid-template-rows: 60px 60px 60px 60px 60px;
        grid-gap: 11px;
        height: 100%;

        width: 100%;
        overflow-y: scroll;
        padding: 13px 13px 0 13px;
        .arcane {
          height: 60px;
          width: 60px;
        }
        .arcane:hover {
          cursor: pointer;
        }
      }
    }
  }
  .time-board-time {
    width: 480px;
    height: 100vh;
    max-height: 574px;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    .opponent-time {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      // background: #222222;
    }
    .player-time {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      // background: #333333;
      text-align: right;
    }
  }
  .nav-history-buttons-player {
    display: flex;
    flex: 1 1 1 80px;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    height: 100%;
    max-height: 574px;
    padding: 10px;
    // background: #333333;
    overflow: hidden;
    .nav {
      display: flex;
      width: 100%;
    }
    .history {
      background-color: #222222;
      height: 100%;
      width: 100%;
    }
    .buttons {
      background-color: #222222;
      height: 100%;
      width: 100%;
    }
    .info-avatar {
      display: flex;
      // flex-direction: row-reverse;
      .avatar {
        min-width: 80px;
        height: 80px;
        background: #222222;
      }
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .name {
          text-align: right;
        }
        .thinking {
        }
      }
    }
  }
}

// .tactorius-board .board-view {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
