.dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 72px 1fr 1fr;
  .news-bar {
    display: flex;
    align-items: center;
    .news-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .profile-hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #333333;
    .avatar {
      width: 72px;
      height: 72px;
    }
    .profile-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .username {
        // font-size: 24px;
        // font-weight: 600;
        // color: #ffffff;
      }
      .tag {
        // font-size: 16px;
        // font-weight: 400;
        // color: #ffffff;
      }
    }
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // height: 40px;
    // width: 720px;
    // background: #333333;
  }
  .hover-image {
    width: 720px;
    max-height: 400px;
    object-fit: cover;
  }
  .logout {
    display: flex;
    flex-direction: column-reverse;
  }
}
