// color variable from gameboard settings

.hero {
  position: relative;
  // max-width: 360px;
  // max-height: 300px;
}

.hero-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 60px);
  grid-template-rows: repeat(10, 60px);
  max-width: 100%;
}
.hero-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  z-index: 10;
  background-image: linear-gradient(
    to right,
    #111111 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.hero-square.light {
  height: 60px;
  width: 60px;
  // background: #b87d48;
  background: #a57fd4;
}
.hero-square.dark {
  height: 60px;
  width: 60px;
  // background: #7f4f1a;
  background: #585858;
}

/* $O_LGHT: #b87d48;
$O_DARK: #7f4f1a; */

/* $B_LGHT: #1c7293;
$B_DARK: #065a82; */

/* $GS_4: #444444;
$GS_5: #555555; */
