@import 'variables.scss';

$colors: R, O, W, Y, G, BK, B, V;

$menu_colors: (
  R: $R_MENU,
  O: $O_MENU,
  W: $GS_8,
  Y: $Y_MENU,
  G: $G_MENU,
  BK: $GS_2,
  B: $B_MENU,
  V: $V_MENU,
);
$hover_colors: (
  R: $R_FACT,
  O: $O_FACT,
  W: $GS_9,
  Y: $Y_FACT,
  G: $G_FACT,
  BK: $GS_1,
  B: $B_FACT,
  V: $V_FACT,
);

@each $color in $colors {
  $color_var: map-get($menu_colors, $color);
  $hover_var: map-get($hover_colors, $color);

  .primary-#{$color} {
    background: $color_var;
    border: $color_var 1px solid;
    border-radius: 5px;
    transition:
      border-radius 0.2s ease-in,
      border 0.2s ease-in,
      background 0.2s ease-in;
  }
  .primary-#{$color}:hover {
    cursor: pointer;
    background: $hover_var;
    border: $hover_var 2px solid;
    border-radius: 15px;
    transition:
      border-radius 0.2s ease-in,
      border 0.2s ease-in,
      background 0.2s ease-in;
  }
  .primary-#{$color}-disabled {
    color: #aaaaaa;
    background: #333333;
    border-radius: 5px;
  }
  .primary-#{$color}-disabled:hover {
    cursor: auto;
  }

  .secondary-#{$color} {
    background: #444444;
    border-radius: 5px;
    border: $color_var 1px solid;
    transition:
      border-radius 0.2s ease-in,
      border 0.2s ease-in,
      background 0.2s ease-in;
  }
  .secondary-#{$color}:hover {
    cursor: pointer;
    background: #555555;
    border: $hover_var 2px solid;
    border-radius: 15px;
    transition:
      border-radius 0.2s ease-in,
      border 0.2s ease-in,
      background 0.2s ease-in;
  }
  .secondary-#{$color}-disabled {
    color: #aaaaaa;
    background: #333333;
    border: #555555 1px solid;
    border-radius: 5px;
  }
  .secondary-#{$color}-disabled:hover {
    cursor: auto;
  }

  .tertiary-#{$color} {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: $color_var;
    background: #555555;
    // border: none;
    // border-radius: 0;
    // transition: background 0.2s ease-in;
  }
  .tertiary-#{$color}:hover {
    background: $hover_var;
    border: none;
    border-radius: 0;
    // transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .tertiary-#{$color}-disabled {
    color: #aaaaaa;
    background: #333333;
    border: #222222 1px solid;
  }
  .tertiary-#{$color}-disabled:hover {
    cursor: auto;
  }
}

.header-buttons .tertiary-button {
  background: #444444;
  border: none;
  border-radius: 0;
  transition: background 0.2s ease-in;
}
.header-buttons .tertiary-button:hover {
  background: #555555;
  border: none;
  border-radius: 0;
  transition: background 0.2s ease-in;
}
