// FONT SIZES
$FONT_12: 12px;
$FONT_16: 16px;
$FONT_20: 20px;
$FONT_24: 24px;
$FONT_36: 36px;
$FONT_48: 48px;

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
