// MOBLILE VARIABLES
$M_WDTH: 100vw;

// GREYSCALE
$GS_1: #111111;
$GS_2: #222222;
$GS_3: #333333;
$GS_4: #444444;
$GS_5: #555555;
$GS_6: #666666;
$GS_7: #777777;
$GS_8: #888888;
$GS_9: #999999;

// RED
$R_LGHT: #a7333f;
$R_DARK: #74121d;
$R_FACT: #b30000;
$R_GLOW: red;
$R_BACK: #480000;
$R_MENU: #c53939;

// ORANGE
$O_LGHT: #b87d48;
$O_DARK: #7f4f1a;
$O_FACT: #f27500;
$O_GLOW: orange;
$O_BACK: #582a00;
$O_MENU: #c77c35;

// YELLOW
$Y_LGHT: #c0a409;
$Y_DARK: #957f07;
$Y_FACT: #ffd500;
$Y_GLOW: yellow;
$Y_BACK: #635300;
$Y_MENU: #d6be44;

// GREEN
$G_LGHT: #588157;
$G_DARK: #3a5a40;
$G_FACT: #1d9e00;
$G_GLOW: greenyellow;
$G_BACK: #0c4000;
$G_MENU: #34aa48;

// BLUE
$B_LGHT: #1c7293;
$B_DARK: #065a82;
$B_FACT: #0030a8;
$B_GLOW: blue;
$B_BACK: #001343;
$B_MENU: #3f48cc;

// VIOLET
$V_LGHT: #7b2cbf;
$V_DARK: #5a189a;
$V_FACT: #760078;
$V_GLOW: darkorchid;
$V_BACK: #380039;
$V_MENU: #a043a2;
