// FONT SIZES
$FONT_12: 12px;
$FONT_16: 16px;
$FONT_20: 20px;
$FONT_24: 24px;
$FONT_36: 36px;
$FONT_48: 48px;

// FONT WEIGHTS

// THEMES
$blue: #3f48cc;

// GREYSCALE
$GS_1: #111111;
$GS_2: #222222;
$GS_3: #333333;
$GS_4: #444444;
$GS_5: #555555;
$GS_6: #666666;
$GS_7: #777777;
$GS_8: #888888;
$GS_9: #999999;

// RED
$R_LGHT: #a7333f;
$R_DARK: #74121d;
$R_FACT: #b30000;
$R_GLOW: red;

// ORANGE
$O_LGHT: #b87d48;
$O_DARK: #7f4f1a;
$O_FACT: #f27500;
$O_GLOW: orange;

// YELLOW
$Y_LGHT: #c0a409;
$Y_DARK: #957f07;
$Y_FACT: #ffd500;
$Y_GLOW: yellow;

// GREEN
$G_LGHT: #588157;
$G_DARK: #3a5a40;
$G_FACT: #1d9e00;
$G_GLOW: greenyellow;

// BLUE
$B_LGHT: #1c7293;
$B_DARK: #065a82;
$B_FACT: #0030a8;
$B_GLOW: blue;

// PURPLE
$P_LGHT: #7b2cbf;
$P_DARK: #5a189a;
$P_FACT: #760078;
$P_GLOW: darkorchid;
