.arcane-input {
  overflow-y: scroll;
  .create-arcane-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    .title {
      width: 100%;
      display: flex;
      // justify-content: center;
      align-items: center;
    }
    .uses {
      position: absolute;
      height: 40px;
      width: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .arcane-use-drop {
      height: 40px;
      width: 60px;
      border: none;
      color: white;
      background-color: #555555;
      opacity: 0;
    }
    option {
      text-align: center;
    }
    .select-extension:hover {
      background: #555555;
    }
    .arcane-use-drop:hover {
      cursor: pointer;
    }
    option:hover {
      cursor: pointer;
    }
  }
  .create-arcane-item:hover {
    background: #333333;
  }
}
