@import 'src/styles/_components.scss';

.creator {
  width: 100%;
  height: 100vh;
  max-height: 574px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: 480px;
  background: rgba(34, 34, 34);
  .top-left {
    .arcane-history {
      display: flex;
      height: 360px;
      .arcane-input {
        height: 360px;
        width: 280px;

        .arcana {
          .arcana-side-buttons {
            display: flex;
          }
          .arcana-select {
            display: grid;
            grid-template-columns: 40px 40px 40px 40px 40px;
            // grid-template-rows: 60px 60px 60px 60px 60px;
            grid-gap: 11px;
            height: 100%;
            width: 100%;
            // overflow-y: scroll;
            padding: 13px 13px 0 13px;
            .arcane {
              height: 40px;
              width: 40px;
            }
            .arcane:hover {
              cursor: pointer;
            }
          }
        }
      }
      .history {
        height: 360px;
        width: 120px;
        background: #444444;
        overflow-y: scroll;

        .book-node {
          .delete-node {
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 4px;
            background: darkred;
          }
          .delete-node:hover {
            cursor: pointer;
            background: red;
          }
        }
        .book-node:hover {
          cursor: pointer;
          background: #555555 !important;
        }
      }
    }
    .preset-correct-moves {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px 60px;
      .nav {
        width: 100%;
        display: flex;
      }
      .puzzle-input {
        display: flex;
      }
    }
  }
  .tactorius-board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-right {
    display: flex;
    flex-direction: column;
    .panels-title-description {
      width: 400px;
      height: 280px;
      display: flex;
      .panels {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .panel {
          .delete-panel {
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 4px;
            background: darkred;
          }
          .delete-panel:hover {
            cursor: pointer;
            background: red;
          }
        }
        .panel:hover {
          cursor: pointer;
          background: #555555 !important;
        }
      }
      .title-description {
        width: 100%;
        height: 100%;
        .description {
          height: 95px;
          width: 280px;
          border: none;
          overflow: auto;
          outline: none;
          background: #222222;
        }
      }
    }
    .piece-pickup {
      display: flex;
      .piece-pickup-white {
        .piece-pickup-square {
          width: 50px;
          height: 50px;
          background: #333333;
        }
        .piece-pickup-square:hover {
          cursor: pointer;
          background: #555555;
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 200px;
        width: 150px;
        background: #111111;
        -webkit-scrollbar: scroll;
        overflow-y: scroll;
        // display: none;
      }
      .piece-pickup-extra {
        .piece-pickup-square {
          width: 50px;
          height: 50px;
          background: #333333;
        }
        .piece-pickup-square:hover {
          cursor: pointer;
          background: #555555;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 200px;
        width: 100px;
        background: #111111;
        // overflow-y: scroll;
      }
      .piece-pickup-black {
        .piece-pickup-square {
          width: 50px;
          height: 50px;
          background: #333333;
        }
        .piece-pickup-square:hover {
          cursor: pointer;
          background: #555555;
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 200px;
        width: 150px;
        background: #111111;
        overflow-y: scroll;
      }
    }
  }
  .bottom-left {
    display: flex;
    overflow: hidden;
    width: 400px;
    height: 100%;
    .faction-input {
      width: 200px;
      display: grid;
      grid-template-columns: repeat(4, 50px);
      grid-template-rows: repeat(2, 46px);
    }
    .pv-line {
      width: 200px;
      display: flex;
      font-size: 12px;
      padding: 10px;
    }
  }
  .bottom-center {
    z-index: 30; // patch to display this div over chessground custom svg area
    display: grid;
    grid-template-columns: 180px 160px 140px;
    grid-template-rows: 26px 26px 26px;
    overflow: hidden;
    .fen-input {
      display: flex;
      justify-content: center;
      grid-column: span 2;
    }
    .time-input {
      display: flex;
      //   .white-time {
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     width: 180px;
      //     height: 31px;
      //   }
      //   .black-time {
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     width: 180px;
      //     height: 31px;
      //   }
    }
    .reward-input {
      display: flex;
      // justify-content: center;
      // align-items: center;
      // grid-column: span 2;
    }
    .material {
      display: flex;
      .white-material {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #bbbbbb;
        width: 90px;
        height: 100%;
      }
      .black-material {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #444444;
        width: 90px;
        height: 100%;
      }
    }
  }
  .bottom-right {
    overflow: hidden;
    .create-buttons {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 1fr 1fr;
      .picker-extension {
        height: 100%;
        display: flex;
      }
      .content {
        display: flex;
      }
      .reset-output {
        display: flex;
        grid-column: span 2;
      }
    }
  }
}
