@import 'src/styles/_components.scss';

.tactorius-board .panels-board {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: 60px 480px 1fr;
  background: rgba(34, 34, 34);
  .fen-input {
    display: flex;
    justify-content: center;
  }
  .time-input {
    display: flex;
    justify-content: center;
  }
  .arcane-faction-input {
    .arcane-history {
      display: flex;
      height: 360px;
      .arcane-input {
        height: 360px;
        width: 280px;
      }
      .history {
        height: 360px;
        width: 120px;
        background: #444444;
        overflow-y: scroll;
      }
    }
    .faction-input {
      height: 120px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      // @each $key, $value in $menu_colors {
      //   .tertiary-#{$key} {
      //     // background: $value;
      //   }
      // }
    }
  }
  .pieces-buttons {
    .preset-dropdown {
      height: 60px;
      background: #212121;
    }
    .piece-pickup {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 300px;
      background: #111111;
    }
    .create-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .grid-filler {
    // width: 100vw;
    // width: 1280px;
    background: #000000;
    background-image: linear-gradient(#000000 0%, navy 100%);
  }
}

.tactorius-board .board-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
