.tactorius-board .panels-board {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 480px 1fr;
  background: rgba(34, 34, 34);
  .fen-input {
    display: flex;
    justify-content: center;
  }
  .arcane-faction-input {
    .arcane-input {
      height: 240px;
      background: #212121;
    }
    .faction-input {
      height: 240px;
      background: #212121;
    }
  }
  .pieces-buttons {
    .preset-dropdown {
      height: 120px;
      background: #212121;
    }
    .piece-pickup {
      height: 240px;
      background: #111111;
    }
    .create-buttons {
      height: 120px;
    }
  }
  .grid-filler {
    // width: 100vw;
    // width: 1280px;
    background: #000000;
    background-image: linear-gradient(#212121 0%, #000000 100%);
  }
}

.tactorius-board .board-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
