@import 'src/styles/_components.scss';

.tactorius-board .lesson-view {
  width: 100%;
  height: 100vh;
  max-height: 574px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(34, 34, 34);
  .opponent-dialogue-arcana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #222222;
    padding: 20px;
    .arcana {
      display: flex;
      flex-direction: column;
      height: 480px;
      width: 360px;
      background: #333333;
      .arcana-side-buttons {
        display: flex;
      }
      .arcana-select {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px;
        grid-gap: 10px;
        padding: 10px;
        .arcane {
          height: 60px;
          width: 60px;
        }
        .arcane:hover {
          cursor: pointer;
        }
      }
    }
  }
  .time-board-time {
    width: 480px;
    height: 100vh;
    max-height: 574px;
    display: flex;
    flex-direction: column;
    .opponent-time {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #222222;
    }
    .player-time {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;
      background: #333333;
      text-align: right;
    }
  }
  .temple-clock-buttons {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #333333;
    .lesson-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 440px;
      padding: 20px;
      background-color: #222222;
      .time-text {
        font-size: 72px;
      }
    }
    .temple-buttons {
      display: flex;
      justify-content: center;
      width: 360px;
    }
  }
}
