.arcane-select {
  .inventory {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-auto-rows: 1fr;
    .arcane-wrapper {
      display: inline-block;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      overflow: hidden;
    }
  }
  .arcana-block {
    z-index: 5;
    background: black;
    position: absolute;
    height: 40vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: repeat(9, 45px);
    .arcane {
      height: 45px;
      width: 45px;
    }
    .arcane:hover {
      cursor: pointer;
    }
  }
  .hover-arcane > * {
    background-color: #3f48cc;
    cursor: pointer;
  }
}
