.image-text {
  .image {
    max-height: 320px;
    object-fit: cover;
  }
}
.multiplier-settings-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  .difficulty-text {
    display: flex;
    padding: 0 40px;
    height: 60px;
    justify-content: space-between;
    .difficulty-description {
      width: 400px;
    }
  }
  .difficulties {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    .level {
      height: 240px;
      width: 200px;
    }
  }
  .settings-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    .settings {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .multiplier {
        display: flex;
        justify-content: space-between;
      }
      .setting-descriptions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 420px;
        gap: 20px;
        .setting {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 200px;
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 400px;
      height: 100%;
      .handicaps {
        display: flex;
        .settings-block {
          width: 200px;
        }
      }
      .action-buttons {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .multiplier-settings-buttons {
    justify-content: flex-start;
    overflow-y: auto;
    padding: 16px;
    .difficulty-text {
      flex-direction: column;
      min-height: 120px;
      padding: 0;
      .difficulty-description {
        width: 260px;
      }
    }
    .difficulties {
      .level {
        height: 148px;
        width: 120px;
      }
    }
    .settings-buttons {
      flex-direction: column;
      gap: 12px;
      .settings {
        .setting-descriptions {
          width: 200px;
          display: flex;
          flex-direction: column;
          grid-template-columns: unset;
          grid-template-rows: unset;
        }
      }
      .buttons {
        // width: 160px;
        width: 240px;
        .action-buttons {
          // flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
}
