.image-text {
  .image {
    max-height: 320px;
    object-fit: cover;
  }
}

.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: radial-gradient(circle at center, transparent 00%, black 100%);
  .endgame-image {
    opacity: 0.6;
    max-height: 100vh;
    -webkit-mask-image: radial-gradient(circle, white 0%, transparent 100%);
    mask-image: radial-gradient(circle, white 0%, transparent 100%);
  }
  .endgame-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    height: 480px;
    .buttons {
      display: flex;
      justify-content: center;
      height: 110px;
      .left-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        margin-right: 10px;
      }
    }
  }
}

.chapter-end {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .chapter-end-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #11111188;
    .chapter-end-text-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chapter-end-points {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        padding: 12px;
        .digit-box {
          display: flex;
          width: 36px;
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: flex-end;
        }
        .digit-kudos {
          margin-left: 20px;
        }
      }
    }
  }
  .chapter-end-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .unlocked-arcana {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 220px;
      padding: 20px;
      border-radius: 5px;
      background: #11111188;
      .arcane {
        height: 60px;
        width: 60px;
      }
    }
  }
}
