.image-text {
  .image {
    max-height: 320px;
    object-fit: cover;
  }
}
.multiplier-settings-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  .multiplier {
    width: 100%;
    margin: 0 0 0 10px;
    font-size: 48px;
  }
  .settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .settings-block {
      margin: 0 10px 0 10px;
    }
  }
  .buttons {
    margin: 20px 0 0 0;
    .button {
      margin: 0 0 0 10px;
    }
  }
}

.endgame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .left {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #000000;
    .endgame-image {
      max-width: 380px;
      margin: 10px;
    }
  }
  .middle {
    display: grid;
    height: 480px;
    width: 480px;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 100%;
    background: #000000;
    .buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 110px;
      .left-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        margin-right: 10px;
      }
    }
  }
}

.quickplay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .setup-arcana {
    margin: 15px;
    .arcana {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      .arcane {
        height: 60px;
        width: 60px;
      }
      .arcane:hover {
        cursor: pointer;
      }
    }
  }
  .settings-start {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    .arcana-detail {
      width: 240px;
      height: 200px;
    }
  }
}
