@import 'src/styles/_components.scss';
@import 'src/styles/_variables.scss';

.quickplay-modal {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  background: linear-gradient(to top, #000011, $B_MENU);
  padding: 30px;
  border-radius: 10px;
  .player-options-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 20px 0 0;
    .top {
      display: flex;
      .hover-text {
        height: 60px;
        width: 550px;
        margin: 0 0 0 20px;
      }
    }
    .sides {
      .player {
        margin-top: 20px;
        .buttons-arcana {
          display: flex;
          .buttons {
            display: flex;
            height: 60px;
          }
        }
      }
      .engine {
        margin-top: 20px;
        .buttons-arcana {
          display: flex;
          .buttons {
            display: flex;
            height: 60px;
          }
        }
      }
      .engine-strength {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}

@media (max-width: 1024px) {
  .quickplay-modal {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    .player-options-text {
      display: block;
      width: 360px;
      margin: 0;
      .top {
        flex-direction: column;
        height: 120px;
        .hover-text {
          width: 360px;
          margin: 0;
          p {
            width: 360px;
          }
        }
      }
      .sides {
        .player {
          .buttons-arcana {
            display: block;
            .buttons {
              display: flex;
              height: 60px;
            }
          }
        }
        .engine {
          .buttons-arcana {
            display: block;
            .buttons {
              display: flex;
              height: 60px;
            }
          }
        }
      }
    }
  }
}
