.quickplay-modal {
  position: relative;
  height: 100%;
  width: 100%;
  .hover-text {
    height: 80px;
  }
  .top-buttons {
  }
  .player-options-text {
    .sides {
      // display: flex;
      .player {
        .buttons-arcana {
          .buttons {
            display: flex;
            height: 60px;
            .color {
            }
            .character {
            }
          }
          .arcana {
          }
        }
        .army {
        }
      }
      .engine {
        .buttons-arcana {
          .buttons {
            display: flex;
            height: 60px;
            .color {
            }
            .character {
            }
          }
          .arcana {
          }
        }
        .army {
        }
      }
    }
    .hover-text {
    }
  }
  .settings-go {
  }
}
