.piece-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  .piece-family {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;

    &.Infantry {
      border: 3px solid #c0392b;
    }

    &.Equus {
      border: 3px solid #0074ff;
    }

    &.Sliders {
      border: 3px solid #8e44ad;
    }

    &.Ghost {
      border: 3px solid #16a085;
    }

    &.Royalty {
      border: 3px solid #f39c12;
    }
  }

  .piece-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #eee;
    margin: 0;
    .thumb {
      width: 48px;
      height: 48px;
      object-fit: cover;
      flex-shrink: 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 2px;
      line-height: 1.3;
      margin: 0;
      padding: 10px;
      .name {
        font-weight: 600;
        color: #eee;
        margin: 0;
      }
      .description {
        color: #aaa;
        margin: 0;
      }
    }
  }
}
