.outer-leaderboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  .nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .leaderboard-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100vh;
  }
  .leaderboard-curtain {
    position: fixed;
    width: 90vw;
    height: 100vh;
    background: #00000088;
  }
  .leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    z-index: 1;
    box-sizing: border-box;
  }
  .user-score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    .username {
      width: 200px;
      background-color: #11111188;
      padding: 12px;
      box-sizing: border-box;
    }
    .points {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      padding: 12px;
      background-color: #11111188;
      width: 400px;
      box-sizing: border-box;
      .digit-box {
        display: flex;
        width: 16px;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-end;
      }
    }
  }
}
