.hero {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  // filter: blur(2px);
  .hero-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000088;
    z-index: 1;
  }
  .hero-grid {
    position: relative;
    display: grid;
    justify-content: center;
    // grid-template-columns: repeat(50, 60px);
    // grid-template-rows: repeat(50, 60px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  .hero-square.light {
    height: 60px;
    width: 60px;
    // background: #b87d48;
    // background: #8e7200;
    // background: #a043a2;
    // background: #a043a2;
    // background: #7f7f7f;
  }
  .hero-square.dark {
    height: 60px;
    width: 60px;
    /* background: #7f4f1a; */
    // background: #222222;
  }
}
