@import '../../styles/variables.scss';

.login-page.fade-in,
.register-page.fade-in {
  opacity: 1;
}

.login-page,
.register-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  // fading
  .fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
  }
  .fade-overlay.active {
    opacity: 1;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    .hero-curtain {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .view {
    height: 340px;
    background-color: #111111;
    display: grid;
    grid-template-columns: 100px 468px;
    grid-template-rows: 100px 240px;
    border: 4px solid $B_MENU;
    border-radius: 10px;
    .login-info {
      display: flex;
      align-items: center;
      font-size: 12px;
      width: 360px;
      margin: 20px;
    }
    .logo {
      height: 80px;
      width: 80px;
      margin: 10px;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      .input-top {
        display: flex;
        width: 220px;
        .text-inputs {
          .login-input {
            width: 220px;
          }
        }
      }
      .login-errors {
        display: flex;
        flex-direction: column;
        color: red;
        font-size: 12px;
      }
    }
  }
}
.login-page .hex-background,
.register-page .hex-background {
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
  z-index: -10;
}
.login-page .login-col2,
.register-page .login-col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hero-background {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: -10;
}

.login-panel.panel,
.register-panel.panel {
  background-color: #333333;
  text-align: center;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  border: #34aa48 2px solid;
  /* border-image: linear-gradient(rgb(63, 72, 204), rgb(127, 127, 127)) 1; */
  /* border-width: 15px; */
  /* border-style: solid; */
}

.login-buttons .other-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-buttons .other-buttons button {
  height: 40px;
  width: 200px;
  margin: 10px 0 0 0;
  text-align: center;
  border-radius: 5px;
  color: white;
  background: #555555;
}

.login-buttons .buttons .back {
  height: 40px;
  width: 100px;
}
.login-buttons button:hover {
  cursor: pointer;
  background: #aaaaaa;
}

.login-button,
.register-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 200px;
}

.reg-buttons .mini-buttons,
.inputs .mini-buttons {
  display: flex;
  margin: 2px;
}

.reg-buttons {
  display: flex;
  justify-content: space-between;
}
.reg-input-top {
  .reg-inputs {
    width: 368px;
  }
  .reg-buttons {
    width: 368px;
  }
  .reg-errors {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .login-page,
  .register-page {
    .view {
      justify-content: center;
      grid-template-columns: 100px 400px;
      .inputs {
        display: flex;
        .input-top {
          flex-direction: column;
          width: 285px;
          .text-inputs {
            .login-input {
              width: 285px;
            }
          }
          .top-buttons {
            display: flex;
          }
        }
      }
    }
  }
}
