@import 'src/styles/main.scss';

.outer-book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 480px 1fr;
    overflow: hidden;
    .top {
      display: grid;
      grid-template-columns: 400px 480px 400px;
      grid-template-rows: 1fr;
      background: #222222;
      .nodes {
        width: 100%;
        background: #333333;
        overflow-y: scroll;
        .node {
          .node-title {
            margin: 10px;
          }
          .node-description {
            p {
              margin: 10px;
            }
          }
        }
      }
      .tactorius-board {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background: #333333;
        height: 480px;
        width: 480px;
        .tactorius {
          height: 480px;
          width: 480px;
        }
      }

      .description-inventory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 480px;
        .description {
          width: 400px;
          height: 180px;
          .node {
            margin: 10px;
            .node-title {
              text-align: center;
            }
            .node-description {
              p {
                margin: 10px;
              }
            }
          }
        }
        .inventory {
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 400px;
          height: 300px;
          // background: #333333;
          .time-arcana {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .time {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60px;
              width: 180px;
            }
            .arcana {
              display: grid;
              justify-content: center;
              align-items: center;
              grid-template-columns: 60px 60px 60px;
              grid-template-rows: 60px 60px 60px 60px;
              height: 240px;
              width: 200px;
              .arcane {
                height: 60px;
                width: 60px;
              }
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #222222;
      padding: 10px;
      .left {
        z-index: 30;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px;
        .points {
          text-align: right;
          display: flex;
          justify-content: flex-end;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 4px;
          padding: 12px;
          width: 300px;
          min-width: 20px;
          .digit-box {
            display: flex;
            width: 16px;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: flex-end;
          }
        }
      }
      .right {
        z-index: 30; // patch to display this div over chessground custom svg area
        display: flex;
        gap: 10px;
      }
    }
  }
}
