@import 'src/styles/main.scss';

.outer-book {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #11111188;
  .book {
    width: 1280px;
    height: 100%;
    max-height: 580px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1280px;
    grid-template-rows: 1fr 480px;
    overflow: hidden;
    .hud {
      display: flex;
      width: 100%;
      min-height: 100%;
      max-height: 580px;
      background: #11111188;
      .left {
        z-index: 30;
        width: 400px;
        a {
          display: inline-block;
          width: auto;
        }
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
      }
      .right {
        display: flex;
        flex-direction: column;
        .buttons {
          z-index: 30;
          display: flex;
          width: 400px;
          height: 100%;
        }
        .score {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          .multiplier {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
          }
          .points {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            width: 300px;
            min-width: 20px;
            padding-right: 20px;
            .digit-box {
              display: flex;
              width: 16px;
              flex-grow: 0;
              flex-shrink: 0;
              justify-content: flex-end;
            }
          }
        }
      }
    }
    // .story-column {
    //   grid-column: span 2;
    // }
    .content {
      display: grid;
      grid-template-columns: 400px 480px 400px;
      grid-template-rows: 480px;
      background: #11111100;
      .nodes {
        width: 100%;
        background: #11111188;
        overflow-y: scroll;
        .node {
          .node-title {
            margin: 10px;
          }
          .node-description {
            p {
              margin: 10px;
            }
          }
        }
      }
      .tactorius-board {
        height: 480px;
        width: 480px;
        .tactorius {
          height: 480px;
          width: 480px;
        }
      }

      .description-inventory.story-column {
        .story-text {
          display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: center;
          width: 400px;
          height: 480px;
          // background: #11111188;
          .node {
            margin: 10px;
            .node-title {
              text-align: center;
            }
            .node-description {
              p {
                margin: 10px;
              }
            }
          }
        }
      }

      .description-inventory {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 480px;
        background: #11111188;
        .description {
          width: 400px;
          height: 480px;
          .node {
            margin: 20px;
            .node-title {
              text-align: center;
            }
            .node-description {
              p {
                margin: 10px;
              }
            }
          }
        }
        .inventory {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 400px;
          height: 300px;
          .time-arcana {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .time {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60px;
              width: 180px;
            }
            .arcana {
              display: grid;
              justify-content: center;
              align-items: center;
              grid-template-columns: 60px 60px 60px;
              grid-template-rows: 60px 60px 60px 60px;
              height: 240px;
              width: 200px;
              overflow-y: scroll;
              .arcane {
                height: 60px;
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
}
