@import '../../styles/variables.scss';

.front-page-container {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  .header {
    display: flex;
    height: 100px;
    background: #111111;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    padding: 0 0 10px 0;
    .inner-header {
      display: flex;
      padding: 10px 0 0 10px;
      .logo {
        height: 72px;
        width: 72px;
        margin: 10px;
      }
      .inner-header-a {
        height: 72px;
        display: flex;
        flex-direction: column;
      }
    }
    .header-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      height: 100%;
      margin: 10px 20px 0 0;
    }
    .tactorius {
      display: flex;
      font-size: 48px;
    }
    .tact {
      color: #7f7f7f;
    }
    .orius {
      color: $Y_MENU;
    }
  }
  .front-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    .divider {
      width: 100%;
      background: linear-gradient(to right, $Y_MENU 0%, #333333 100%);
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      border: none;
    }
    .row-a {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px 0;
      background: transparent;
      overflow-y: hidden;
      .intro-box {
        width: 680px;
        border: 4px solid $Y_MENU;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin: 20px 0 20px 0;
        img.image {
          display: flex;
          width: 672px;
          border-top-left-radius: 40px;
        }
        .intro {
          display: flex;
          flex-direction: column;
          padding: 30px 40px 30px 40px;
          background: rgba(0, 0, 0, 0.8);
          border-top-left-radius: 40px;
          border-bottom-right-radius: 40px;
          > * {
            margin: 10px 0 10px 0;
          }
        }
      }
    }
  }
}
