@import '../../styles/variables.scss';

.front-page-container.fade-in {
  opacity: 1;
}

.front-page-container {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;

  // fading
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  .fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
  }
  .fade-overlay.active {
    opacity: 1;
  }

  .header {
    display: flex;
    height: 100px;
    width: 100%;
    background: none;
    align-items: center;
    z-index: 20;
    position: relative;
    .inner-header {
      display: flex;
      .logo {
        width: 80px;
        height: 80px;
        margin: 30px 0 30px 0;
        padding: 10px;
      }
      .inner-header-a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        p {
          font-size: 12px;
        }
        .tactorius {
          display: flex;
          .tact {
            color: #7f7f7f;
            font-size: 40px;
          }
          .orius {
            color: $S_MENU;
            font-size: 40px;
          }
        }
      }
    }
  }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
      url(/assets/dashboard/galaxy.webp);
    background-size: cover;
    // filter: blur(2px);
    z-index: -1;
    pointer-events: none;
  }
  .front-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    .divider {
      width: 100%;
      background: linear-gradient(to right, $S_MENU 0%, #333333 100%);
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      border: none;
    }
    .row-a {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background: transparent;
      overflow-y: hidden;
      overflow-x: hidden;
      .intro-box {
        width: 90vw;
        border: 4px solid $S_MENU;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin: 20px 0 20px 0;
        background: rgba(0, 0, 0, 0.8);
        img.image {
          display: flex;
          border-top-left-radius: 40px;
        }
        .intro {
          display: flex;
          flex-direction: column;
          padding: 30px 40px 30px 40px;
          border-top-left-radius: 40px;
          border-bottom-right-radius: 40px;
          > * {
            margin: 10px 0 10px 0;
          }
        }
      }
      .enter-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 100%;
        margin: 20px 0 20px 0;
      }
    }
  }
  .front-page-footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, #111111, transparent);
    margin-top: -400px;
    z-index: 2;
  }
}

@media (min-width: 1024px) {
  .front-page-container {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
    .header {
      height: 120px;
      width: 100%;
      .inner-header {
        width: 680px;
        .inner-header-a {
          display: flex;
          width: 400px;
          p {
            font-size: 16px;
            margin: 0 0 10px 0;
          }
          .tactorius {
            display: flex;
            margin: 0;
            padding: 0;
            .tact {
              color: #7f7f7f;
              font-size: 56px;
            }
            .orius {
              // color: $Y_MENU;
              color: $S_MENU;
              font-size: 56px;
            }
          }
        }
        .logo {
          width: 100px;
          height: 100px;
          margin: 30px 0 30px 10px;
          padding: 10px;
        }
      }
    }
    .front-page {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow-y: hidden;
      .divider {
        width: 100%;
        background: linear-gradient(to right, $S_MENU 0%, #333333 100%);
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: none;
      }
      .row-a {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        background: transparent;
        overflow-y: hidden;
        .intro-box {
          width: 680px;
          border: 4px solid $S_MENU;
          border-top-left-radius: 40px;
          border-bottom-right-radius: 40px;
          margin: 20px 0 20px 0;
          background: rgba(0, 0, 0, 0.8);
          img.image {
            display: flex;
            width: 664px;
            border-top-left-radius: 40px;
          }
          .intro {
            display: flex;
            flex-direction: column;
            padding: 30px 40px 30px 40px;

            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            > * {
              margin: 10px 0 10px 0;
            }
          }
        }
        .enter-buttons {
          display: flex;
          align-items: center;
          width: 400px;
          height: 100%;
        }
      }
    }
  }
}
