// white
.cg-wrap piece.p-piece.white.chi,
.p-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wP.svg');
}
.cg-wrap piece.b-piece.white.chi,
.b-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wB.svg');
}
.cg-wrap piece.n-piece.white.chi,
.n-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wN.svg');
}
.cg-wrap piece.r-piece.white.chi,
.r-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wR.svg');
}
.cg-wrap piece.q-piece.white.chi,
.q-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wQ.svg');
}
.cg-wrap piece.k-piece.white.chi,
.k-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wK.svg');
}
.cg-wrap piece.s-piece.white.chi,
.s-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wS.svg');
}
.cg-wrap piece.w-piece.white.chi,
.w-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wW.svg');
}
.cg-wrap piece.h-piece.white.chi,
.h-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wH.svg');
}
.cg-wrap piece.t-piece.white.chi,
.t-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wT.svg');
}
.cg-wrap piece.m-piece.white.chi,
.m-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wM.svg');
}
.cg-wrap piece.u-piece.white.chi,
.u-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wU.svg');
}
.cg-wrap piece.z-piece.white.chi,
.z-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wZ.svg');
}
.cg-wrap piece.v-piece.white.chi,
.v-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/wV.svg');
}

// black
.cg-wrap piece.p-piece.black.chi,
.p-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bP.svg');
}
.cg-wrap piece.b-piece.black.chi,
.b-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bB.svg');
}
.cg-wrap piece.n-piece.black.chi,
.n-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bN.svg');
}
.cg-wrap piece.r-piece.black.chi,
.r-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bR.svg');
}
.cg-wrap piece.q-piece.black,
.q-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bQ.svg');
}
.cg-wrap piece.k-piece.black.chi,
.k-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bK.svg');
}
.cg-wrap piece.s-piece.black.chi,
.s-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bS.svg');
}
.cg-wrap piece.w-piece.black.chi,
.w-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bW.svg');
}
.cg-wrap piece.h-piece.black.chi,
.h-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bH.svg');
}
.cg-wrap piece.t-piece.black.chi,
.t-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bT.svg');
}
.cg-wrap piece.m-piece.black.chi,
.m-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bM.svg');
}
.cg-wrap piece.u-piece.black.chi,
.u-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bU.svg');
}
.cg-wrap piece.z-piece.black.chi,
.z-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bZ.svg');
}
.cg-wrap piece.v-piece.black.chi,
.v-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/chi/bV.svg');
}
