.cg-wrap piece.p-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wP.svg");
}
.cg-wrap piece.b-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wB.svg");
}
.cg-wrap piece.n-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wN.svg");
}
.cg-wrap piece.r-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wR.svg");
}
.cg-wrap piece.q-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wQ.svg");
}
.cg-wrap piece.k-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wK.svg");
}
.cg-wrap piece.s-piece.white.chi {
  background-image: url("../images/pieces/tactorius/chi/wS.svg");
}
.cg-wrap piece.p-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bP.svg");
}
.cg-wrap piece.b-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bB.svg");
}
.cg-wrap piece.n-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bN.svg");
}
.cg-wrap piece.r-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bR.svg");
}
.cg-wrap piece.q-piece.black {
  background-image: url("../images/pieces/tactorius/chi/bQ.svg");
}
.cg-wrap piece.k-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bK.svg");
}
.cg-wrap piece.s-piece.black.chi {
  background-image: url("../images/pieces/tactorius/chi/bS.svg");
}
