// white
.cg-wrap piece.p-piece.white.gamma,
.p-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wP.svg');
}
.cg-wrap piece.b-piece.white.gamma,
.b-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wB.svg');
}
.cg-wrap piece.n-piece.white.gamma,
.n-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wN.svg');
}
.cg-wrap piece.r-piece.white.gamma,
.r-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wR.svg');
}
.cg-wrap piece.q-piece.white.gamma,
.q-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wQ.svg');
}
.cg-wrap piece.k-piece.white.gamma,
.k-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wK.svg');
}
.cg-wrap piece.s-piece.white.gamma,
.s-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wS.svg');
}
.cg-wrap piece.w-piece.white.gamma,
.w-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wW.svg');
}
.cg-wrap piece.h-piece.white.gamma,
.h-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wH.svg');
}
.cg-wrap piece.t-piece.white.gamma,
.t-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wT.svg');
}
.cg-wrap piece.m-piece.white.gamma,
.m-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wM.svg');
}
.cg-wrap piece.u-piece.white.gamma,
.u-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wU.svg');
}
.cg-wrap piece.z-piece.white.gamma,
.z-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wZ.svg');
}
.cg-wrap piece.v-piece.white.gamma,
.v-piece.white.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/wV.svg');
}

// black
.cg-wrap piece.p-piece.black.gamma,
.p-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bP.svg');
}
.cg-wrap piece.b-piece.black.gamma,
.b-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bB.svg');
}
.cg-wrap piece.n-piece.black.gamma,
.n-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bN.svg');
}
.cg-wrap piece.r-piece.black.gamma,
.r-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bR.svg');
}
.cg-wrap piece.q-piece.black.gamma,
.q-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bQ.svg');
}
.cg-wrap piece.k-piece.black.gamma,
.k-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bK.svg');
}
.cg-wrap piece.s-piece.black.gamma,
.s-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bS.svg');
}
.cg-wrap piece.w-piece.black.gamma,
.w-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bW.svg');
}
.cg-wrap piece.h-piece.black.gamma,
.h-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bH.svg');
}
.cg-wrap piece.t-piece.black.gamma,
.t-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bT.svg');
}
.cg-wrap piece.m-piece.black.gamma,
.m-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bM.svg');
}
.cg-wrap piece.u-piece.black.gamma,
.u-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bU.svg');
}
.cg-wrap piece.z-piece.black.gamma,
.z-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bZ.svg');
}
.cg-wrap piece.v-piece.black.gamma,
.v-piece.black.gamma {
  background-image: url('/assets/images/pieces/tactorius/gamma/bV.svg');
}
