.cg-wrap piece.p-piece.white.lambda,
.p-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wP.svg');
}
.cg-wrap piece.b-piece.white.lambda,
.b-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wB.svg');
}
.cg-wrap piece.n-piece.white.lambda,
.n-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wN.svg');
}
.cg-wrap piece.r-piece.white.lambda,
.r-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wR.svg');
}
.cg-wrap piece.q-piece.white.lambda,
.q-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wQ.svg');
}
.cg-wrap piece.k-piece.white.lambda,
.k-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wK.svg');
}
.cg-wrap piece.s-piece.white.lambda,
.s-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wS.svg');
}
.cg-wrap piece.p-piece.black.lambda,
.p-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bP.svg');
}
.cg-wrap piece.b-piece.black.lambda,
.b-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bB.svg');
}
.cg-wrap piece.n-piece.black.lambda,
.n-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bN.svg');
}
.cg-wrap piece.r-piece.black.lambda,
.r-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bR.svg');
}
.cg-wrap piece.q-piece.black.lambda,
.q-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bQ.svg');
}
.cg-wrap piece.k-piece.black.lambda,
.k-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bK.svg');
}
.cg-wrap piece.s-piece.black.lambda,
.s-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bS.svg');
}
