// white
.cg-wrap piece.p-piece.white.lambda,
.p-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wP.svg');
}
.cg-wrap piece.b-piece.white.lambda,
.b-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wB.svg');
}
.cg-wrap piece.n-piece.white.lambda,
.n-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wN.svg');
}
.cg-wrap piece.r-piece.white.lambda,
.r-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wR.svg');
}
.cg-wrap piece.q-piece.white.lambda,
.q-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wQ.svg');
}
.cg-wrap piece.k-piece.white.lambda,
.k-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wK.svg');
}
.cg-wrap piece.s-piece.white.lambda,
.s-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wS.svg');
}
.cg-wrap piece.w-piece.white.lambda,
.w-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wW.svg');
}
.cg-wrap piece.h-piece.white.lambda,
.h-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wH.svg');
}
.cg-wrap piece.t-piece.white.lambda,
.t-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wT.svg');
}
.cg-wrap piece.m-piece.white.lambda,
.m-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wM.svg');
}
.cg-wrap piece.u-piece.white.lambda,
.u-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wU.svg');
}
.cg-wrap piece.z-piece.white.lambda,
.z-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wZ.svg');
}
.cg-wrap piece.v-piece.white.lambda,
.v-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wV.svg');
}
.cg-wrap piece.x-piece.white.lambda,
.x-piece.white.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/wX.svg');
}

// black
.cg-wrap piece.p-piece.black.lambda,
.p-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bP.svg');
}
.cg-wrap piece.b-piece.black.lambda,
.b-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bB.svg');
}
.cg-wrap piece.n-piece.black.lambda,
.n-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bN.svg');
}
.cg-wrap piece.r-piece.black.lambda,
.r-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bR.svg');
}
.cg-wrap piece.q-piece.black.lambda,
.q-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bQ.svg');
}
.cg-wrap piece.k-piece.black.lambda,
.k-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bK.svg');
}
.cg-wrap piece.s-piece.black.lambda,
.s-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bS.svg');
}
.cg-wrap piece.w-piece.black.lambda,
.w-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bW.svg');
}
.cg-wrap piece.h-piece.black.lambda,
.h-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bH.svg');
}
.cg-wrap piece.t-piece.black.lambda,
.t-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bT.svg');
}
.cg-wrap piece.m-piece.black.lambda,
.m-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bM.svg');
}
.cg-wrap piece.u-piece.black.lambda,
.u-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bU.svg');
}
.cg-wrap piece.z-piece.black.lambda,
.z-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bZ.svg');
}
.cg-wrap piece.v-piece.black.lambda,
.v-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bV.svg');
}
.cg-wrap piece.x-piece.black.lambda,
.x-piece.black.lambda {
  background-image: url('/assets/images/pieces/tactorius/lambda/bX.svg');
}
