// white
.cg-wrap piece.p-piece.white.mu,
.p-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wP.svg');
}
.cg-wrap piece.b-piece.white.mu,
.b-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wB.svg');
}
.cg-wrap piece.n-piece.white.mu,
.n-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wN.svg');
}
.cg-wrap piece.r-piece.white.mu,
.r-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wR.svg');
}
.cg-wrap piece.q-piece.white.mu,
.q-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wQ.svg');
}
.cg-wrap piece.k-piece.white.mu,
.k-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wK.svg');
}
.cg-wrap piece.s-piece.white.mu,
.s-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wS.svg');
}
.cg-wrap piece.w-piece.white.mu,
.w-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wW.svg');
}
.cg-wrap piece.h-piece.white.mu,
.h-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wH.svg');
}
.cg-wrap piece.t-piece.white.mu,
.t-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wT.svg');
}
.cg-wrap piece.m-piece.white.mu,
.m-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wM.svg');
}
.cg-wrap piece.u-piece.white.mu,
.u-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wU.svg');
}
.cg-wrap piece.z-piece.white.mu,
.z-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wZ.svg');
}
.cg-wrap piece.v-piece.white.mu,
.v-piece.white.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/wV.svg');
}

// black
.cg-wrap piece.p-piece.black.mu,
.p-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bP.svg');
}
.cg-wrap piece.b-piece.black.mu,
.b-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bB.svg');
}
.cg-wrap piece.n-piece.black.mu,
.n-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bN.svg');
}
.cg-wrap piece.r-piece.black.mu,
.r-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bR.svg');
}
.cg-wrap piece.q-piece.black.mu,
.q-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bQ.svg');
}
.cg-wrap piece.k-piece.black.mu,
.k-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bK.svg');
}
.cg-wrap piece.s-piece.black.mu,
.s-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bS.svg');
}
.cg-wrap piece.w-piece.black.mu,
.w-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bW.svg');
}
.cg-wrap piece.h-piece.black.mu,
.h-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bH.svg');
}
.cg-wrap piece.t-piece.black.mu,
.t-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bT.svg');
}
.cg-wrap piece.m-piece.black.mu,
.m-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bM.svg');
}
.cg-wrap piece.u-piece.black.mu,
.u-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bU.svg');
}
.cg-wrap piece.z-piece.black.mu,
.z-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bZ.svg');
}
.cg-wrap piece.v-piece.black.mu,
.v-piece.black.mu {
  background-image: url('/assets/images/pieces/tactorius/mu/bV.svg');
}
