.cg-wrap piece.p-piece.white.mu,
.p-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wP.svg');
}
.cg-wrap piece.b-piece.white.mu,
.b-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wB.svg');
}
.cg-wrap piece.n-piece.white.mu,
.n-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wN.svg');
}
.cg-wrap piece.r-piece.white.mu,
.r-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wR.svg');
}
.cg-wrap piece.q-piece.white.mu,
.q-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wQ.svg');
}
.cg-wrap piece.k-piece.white.mu,
.k-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wK.svg');
}
.cg-wrap piece.s-piece.white.mu,
.s-piece.white.mu {
  background-image: url('../images/pieces/tactorius/mu/wS.svg');
}
.cg-wrap piece.p-piece.black.mu,
.p-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bP.svg');
}
.cg-wrap piece.b-piece.black.mu,
.b-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bB.svg');
}
.cg-wrap piece.n-piece.black.mu,
.n-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bN.svg');
}
.cg-wrap piece.r-piece.black.mu,
.r-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bR.svg');
}
.cg-wrap piece.q-piece.black.mu,
.q-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bQ.svg');
}
.cg-wrap piece.k-piece.black.mu,
.k-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bK.svg');
}
.cg-wrap piece.s-piece.black.mu,
.s-piece.black.mu {
  background-image: url('../images/pieces/tactorius/mu/bS.svg');
}
