// white
.cg-wrap piece.p-piece.white.normal,
.p-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wP.svg');
}
.cg-wrap piece.b-piece.white.normal,
.b-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wB.svg');
}
.cg-wrap piece.n-piece.white.normal,
.n-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wN.svg');
}
.cg-wrap piece.r-piece.white.normal,
.r-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wR.svg');
}
.cg-wrap piece.q-piece.white.normal,
.q-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wQ.svg');
}
.cg-wrap piece.k-piece.white.normal,
.k-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wK.svg');
}
.cg-wrap piece.s-piece.white.normal,
.s-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wS.svg');
}
.cg-wrap piece.w-piece.white.normal,
.w-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wW.svg');
}
.cg-wrap piece.h-piece.white.normal,
.h-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wH.svg');
}
.cg-wrap piece.t-piece.white.normal,
.t-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wT.svg');
}
.cg-wrap piece.m-piece.white.normal,
.m-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wM.svg');
}
.cg-wrap piece.u-piece.white.normal,
.u-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wU.svg');
}
.cg-wrap piece.z-piece.white.normal,
.z-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wZ.svg');
}
.cg-wrap piece.v-piece.white.normal,
.v-piece.white.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/wV.svg');
}
.cg-wrap piece.x-piece.white.normal,
.x-piece.white.chi {
  background-image: url('/assets/images/pieces/tactorius/normal/wX.svg');
}

// black
.cg-wrap piece.p-piece.black.normal,
.p-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bP.svg');
}
.cg-wrap piece.b-piece.black.normal,
.b-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bB.svg');
}
.cg-wrap piece.n-piece.black.normal,
.n-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bN.svg');
}
.cg-wrap piece.r-piece.black.normal,
.r-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bR.svg');
}
.cg-wrap piece.q-piece.black.normal,
.q-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bQ.svg');
}
.cg-wrap piece.k-piece.black.normal,
.k-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bK.svg');
}
.cg-wrap piece.s-piece.black.normal,
.s-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bS.svg');
}
.cg-wrap piece.w-piece.black.normal,
.w-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bW.svg');
}
.cg-wrap piece.h-piece.black.normal,
.h-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bH.svg');
}
.cg-wrap piece.t-piece.black.normal,
.t-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bT.svg');
}
.cg-wrap piece.m-piece.black.normal,
.m-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bM.svg');
}
.cg-wrap piece.u-piece.black.normal,
.u-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bU.svg');
}
.cg-wrap piece.z-piece.black.normal,
.z-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bZ.svg');
}
.cg-wrap piece.v-piece.black.normal,
.v-piece.black.normal {
  background-image: url('/assets/images/pieces/tactorius/normal/bV.svg');
}
.cg-wrap piece.x-piece.black.normal,
.x-piece.black.chi {
  background-image: url('/assets/images/pieces/tactorius/normal/bX.svg');
}
