// white
.cg-wrap piece.p-piece.white.nu,
.p-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wP.svg');
}
.cg-wrap piece.b-piece.white.nu,
.b-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wB.svg');
}
.cg-wrap piece.n-piece.white.nu,
.n-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wN.svg');
}
.cg-wrap piece.r-piece.white.nu,
.r-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wR.svg');
}
.cg-wrap piece.q-piece.white.nu,
.q-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wQ.svg');
}
.cg-wrap piece.k-piece.white.nu,
.k-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wK.svg');
}
.cg-wrap piece.s-piece.white.nu,
.s-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wS.svg');
}
.cg-wrap piece.w-piece.white.nu,
.w-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wW.svg');
}
.cg-wrap piece.h-piece.white.nu,
.h-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wH.svg');
}
.cg-wrap piece.t-piece.white.nu,
.t-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wT.svg');
}
.cg-wrap piece.m-piece.white.nu,
.m-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wM.svg');
}
.cg-wrap piece.u-piece.white.nu,
.u-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wU.svg');
}
.cg-wrap piece.z-piece.white.nu,
.z-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wZ.svg');
}
.cg-wrap piece.v-piece.white.nu,
.v-piece.white.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/wV.svg');
}

// black
.cg-wrap piece.p-piece.black.nu,
.p-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bP.svg');
}
.cg-wrap piece.b-piece.black.nu,
.b-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bB.svg');
}
.cg-wrap piece.n-piece.black.nu,
.n-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bN.svg');
}
.cg-wrap piece.r-piece.black.nu,
.r-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bR.svg');
}
.cg-wrap piece.q-piece.black.nu,
.q-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bQ.svg');
}
.cg-wrap piece.k-piece.black.nu,
.k-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bK.svg');
}
.cg-wrap piece.s-piece.black.nu,
.s-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bS.svg');
}
.cg-wrap piece.w-piece.black.nu,
.w-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bW.svg');
}
.cg-wrap piece.h-piece.black.nu,
.h-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bH.svg');
}
.cg-wrap piece.t-piece.black.nu,
.t-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bT.svg');
}
.cg-wrap piece.m-piece.black.nu,
.m-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bM.svg');
}
.cg-wrap piece.u-piece.black.nu,
.u-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bU.svg');
}
.cg-wrap piece.z-piece.black.nu,
.z-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bZ.svg');
}
.cg-wrap piece.v-piece.black.nu,
.v-piece.black.nu {
  background-image: url('/assets/images/pieces/tactorius/nu/bV.svg');
}
