// white
.cg-wrap piece.p-piece.white.omega,
.p-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wP.svg');
}
.cg-wrap piece.b-piece.white.omega,
.b-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wB.svg');
}
.cg-wrap piece.n-piece.white.omega,
.n-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wN.svg');
}
.cg-wrap piece.r-piece.white.omega,
.r-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wR.svg');
}
.cg-wrap piece.q-piece.white.omega,
.q-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wQ.svg');
}
.cg-wrap piece.k-piece.white.omega,
.k-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wK.svg');
}
.cg-wrap piece.s-piece.white.omega,
.s-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wS.svg');
}
.cg-wrap piece.w-piece.white.omega,
.w-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wW.svg');
}
.cg-wrap piece.h-piece.white.omega,
.h-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wH.svg');
}
.cg-wrap piece.t-piece.white.omega,
.t-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wT.svg');
}
.cg-wrap piece.m-piece.white.omega,
.m-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wM.svg');
}
.cg-wrap piece.u-piece.white.omega,
.u-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wU.svg');
}
.cg-wrap piece.z-piece.white.omega,
.z-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wZ.svg');
}
.cg-wrap piece.v-piece.white.omega,
.v-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wV.svg');
}
.cg-wrap piece.x-piece.white.omega,
.x-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wX.svg');
}

// black
.cg-wrap piece.p-piece.black.omega,
.p-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bP.svg');
}
.cg-wrap piece.b-piece.black.omega,
.b-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bB.svg');
}
.cg-wrap piece.n-piece.black.omega,
.n-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bN.svg');
}
.cg-wrap piece.r-piece.black.omega,
.r-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bR.svg');
}
.cg-wrap piece.q-piece.black.omega,
.q-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bQ.svg');
}
.cg-wrap piece.k-piece.black.omega,
.k-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bK.svg');
}
.cg-wrap piece.s-piece.black.omega,
.s-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bS.svg');
}
.cg-wrap piece.w-piece.black.omega,
.w-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bW.svg');
}
.cg-wrap piece.h-piece.black.omega,
.h-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bH.svg');
}
.cg-wrap piece.t-piece.black.omega,
.t-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bT.svg');
}
.cg-wrap piece.m-piece.black.omega,
.m-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bM.svg');
}
.cg-wrap piece.u-piece.black.omega,
.u-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bU.svg');
}
.cg-wrap piece.z-piece.black.omega,
.z-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bZ.svg');
}
.cg-wrap piece.v-piece.black.omega,
.v-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bV.svg');
}
.cg-wrap piece.x-piece.black.omega,
.x-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bX.svg');
}
