.cg-wrap piece.p-piece.white.omega,
.p-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wP.svg');
}
.cg-wrap piece.b-piece.white.omega,
.b-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wB.svg');
}
.cg-wrap piece.n-piece.white.omega,
.n-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wN.svg');
}
.cg-wrap piece.r-piece.white.omega,
.r-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wR.svg');
}
.cg-wrap piece.q-piece.white.omega,
.q-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wQ.svg');
}
.cg-wrap piece.k-piece.white.omega,
.k-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wK.svg');
}
.cg-wrap piece.s-piece.white.omega,
.s-piece.white.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/wS.svg');
}
.cg-wrap piece.p-piece.black.omega,
.p-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bP.svg');
}
.cg-wrap piece.b-piece.black.omega,
.b-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bB.svg');
}
.cg-wrap piece.n-piece.black.omega,
.n-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bN.svg');
}
.cg-wrap piece.r-piece.black.omega,
.r-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bR.svg');
}
.cg-wrap piece.q-piece.black.omega,
.q-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bQ.svg');
}
.cg-wrap piece.k-piece.black.omega,
.k-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bK.svg');
}
.cg-wrap piece.s-piece.black.omega,
.s-piece.black.omega {
  background-image: url('/assets/images/pieces/tactorius/omega/bS.svg');
}
