// white
.cg-wrap piece.p-piece.white.psi,
.p-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wP.svg');
}
.cg-wrap piece.b-piece.white.psi,
.b-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wB.svg');
}
.cg-wrap piece.n-piece.white.psi,
.n-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wN.svg');
}
.cg-wrap piece.r-piece.white.psi,
.r-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wR.svg');
}
.cg-wrap piece.q-piece.white.psi,
.q-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wQ.svg');
}
.cg-wrap piece.k-piece.white.psi,
.k-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wK.svg');
}
.cg-wrap piece.s-piece.white.psi,
.s-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wS.svg');
}
.cg-wrap piece.w-piece.white.psi,
.w-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wW.svg');
}
.cg-wrap piece.h-piece.white.psi,
.h-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wH.svg');
}
.cg-wrap piece.t-piece.white.psi,
.t-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wT.svg');
}
.cg-wrap piece.m-piece.white.psi,
.m-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wM.svg');
}
.cg-wrap piece.u-piece.white.psi,
.u-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wU.svg');
}
.cg-wrap piece.z-piece.white.psi,
.z-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wZ.svg');
}
.cg-wrap piece.v-piece.white.psi,
.v-piece.white.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/wV.svg');
}

// black
.cg-wrap piece.p-piece.black.psi,
.p-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bP.svg');
}
.cg-wrap piece.b-piece.black.psi,
.b-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bB.svg');
}
.cg-wrap piece.n-piece.black.psi,
.n-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bN.svg');
}
.cg-wrap piece.r-piece.black.psi,
.r-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bR.svg');
}
.cg-wrap piece.q-piece.black.psi,
.q-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bQ.svg');
}
.cg-wrap piece.k-piece.black.psi,
.k-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bK.svg');
}
.cg-wrap piece.s-piece.black.psi,
.s-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bS.svg');
}
.cg-wrap piece.w-piece.black.psi,
.w-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bW.svg');
}
.cg-wrap piece.h-piece.black.psi,
.h-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bH.svg');
}
.cg-wrap piece.t-piece.black.psi,
.t-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bT.svg');
}
.cg-wrap piece.m-piece.black.psi,
.m-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bM.svg');
}
.cg-wrap piece.u-piece.black.psi,
.u-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bU.svg');
}
.cg-wrap piece.z-piece.black.psi,
.z-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bZ.svg');
}
.cg-wrap piece.v-piece.black.psi,
.v-piece.black.psi {
  background-image: url('/assets/images/pieces/tactorius/psi/bV.svg');
}
