// white
.cg-wrap piece.p-piece.white.sigma,
.p-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wP.svg');
}
.cg-wrap piece.b-piece.white.sigma,
.b-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wB.svg');
}
.cg-wrap piece.n-piece.white.sigma,
.n-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wN.svg');
}
.cg-wrap piece.r-piece.white.sigma,
.r-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wR.svg');
}
.cg-wrap piece.q-piece.white.sigma,
.q-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wQ.svg');
}
.cg-wrap piece.k-piece.white.sigma,
.k-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wK.svg');
}
.cg-wrap piece.s-piece.white.sigma,
.s-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wS.svg');
}
.cg-wrap piece.w-piece.white.sigma,
.w-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wW.svg');
}
.cg-wrap piece.h-piece.white.sigma,
.h-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wH.svg');
}
.cg-wrap piece.t-piece.white.sigma,
.t-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wT.svg');
}
.cg-wrap piece.m-piece.white.sigma,
.m-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wM.svg');
}
.cg-wrap piece.u-piece.white.sigma,
.u-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wU.svg');
}
.cg-wrap piece.z-piece.white.sigma,
.z-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wZ.svg');
}
.cg-wrap piece.v-piece.white.sigma,
.v-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wV.svg');
}
.cg-wrap piece.x-piece.white.sigma,
.x-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wX.svg');
}

// black
.cg-wrap piece.p-piece.black.sigma,
.p-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bP.svg');
}
.cg-wrap piece.b-piece.black.sigma,
.b-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bB.svg');
}
.cg-wrap piece.n-piece.black.sigma,
.n-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bN.svg');
}
.cg-wrap piece.r-piece.black.sigma,
.r-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bR.svg');
}
.cg-wrap piece.q-piece.black.sigma,
.q-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bQ.svg');
}
.cg-wrap piece.k-piece.black.sigma,
.k-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bK.svg');
}
.cg-wrap piece.s-piece.black.sigma,
.s-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bS.svg');
}
.cg-wrap piece.w-piece.black.sigma,
.w-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bW.svg');
}
.cg-wrap piece.h-piece.black.sigma,
.h-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bH.svg');
}
.cg-wrap piece.t-piece.black.sigma,
.t-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bT.svg');
}
.cg-wrap piece.m-piece.black.sigma,
.m-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bM.svg');
}
.cg-wrap piece.u-piece.black.sigma,
.u-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bU.svg');
}
.cg-wrap piece.z-piece.black.sigma,
.z-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bZ.svg');
}
.cg-wrap piece.v-piece.black.sigma,
.v-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bV.svg');
}
.cg-wrap piece.x-piece.black.sigma,
.x-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bX.svg');
}
