.cg-wrap piece.p-piece.white.sigma,
.p-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wP.svg');
}
.cg-wrap piece.b-piece.white.sigma,
.b-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wB.svg');
}
.cg-wrap piece.n-piece.white.sigma,
.n-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wN.svg');
}
.cg-wrap piece.r-piece.white.sigma,
.r-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wR.svg');
}
.cg-wrap piece.q-piece.white.sigma,
.q-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wQ.svg');
}
.cg-wrap piece.k-piece.white.sigma,
.k-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wK.svg');
}
.cg-wrap piece.s-piece.white.sigma,
.s-piece.white.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/wS.svg');
}
.cg-wrap piece.p-piece.black.sigma,
.p-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bP.svg');
}
.cg-wrap piece.b-piece.black.sigma,
.b-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bB.svg');
}
.cg-wrap piece.n-piece.black.sigma,
.n-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bN.svg');
}
.cg-wrap piece.r-piece.black.sigma,
.r-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bR.svg');
}
.cg-wrap piece.q-piece.black.sigma,
.q-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bQ.svg');
}
.cg-wrap piece.k-piece.black.sigma,
.k-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bK.svg');
}
.cg-wrap piece.s-piece.black.sigma,
.s-piece.black.sigma {
  background-image: url('/assets/images/pieces/tactorius/sigma/bS.svg');
}
